/*GENERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: #181f2b;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1440px;
    color: #FFF;
}

/*HEADER*/

header{
    background-color: #1c2230;
    padding: 35px 45px;
    display: flex;
    justify-content: center;
}

header img{
    width: 140px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    flex-wrap: wrap;
    width: 100%;
}

header a{
    color: #FFF;
    margin-left: 50px;
    transition: 1s;
}

header a:hover{
    text-decoration: underline;
    transition: 1s;
}

/*SECTION getStarted*/

.getStarted{
    padding-top: 15px;
    background-color: #1c2230;
    color: #FFF;
    text-align: center;
    padding-bottom: 100px;
    background-image: url(/images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
    display: flex;
    justify-content: center;
}

.getStarted .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.getStarted img{
    width: 40%;
    min-width: 280px;
}

@media (min-width: 1440px){
    .getStarted img{
        width: 45%;
    }
}

.getStarted h1{
    width: 45%;
    font-size: 32px;
    margin: 30px 0;
    line-height: 38px;
    min-width: 374px;
    
}

.getStarted p{
    width: 32%;
    line-height: 18px;
    word-spacing: 3px;
    margin-bottom: 30px;
    min-width: 370px;
}

@media (max-width: 950px){
    .getStarted h1{
        margin: 50px 0;
    }
}

@media (max-width: 500px){
    .getStarted{
        background-image: url(/images/bg-curvy-mobile.svg);
    }
}

.getStarted a{
    font-weight: 700;
    color: #FFF;
    background-color: #50c3d5;
    padding: 15px 80px;
    border-radius: 40px;
    transition: background-color 0.5s linear;
}

.getStarted a:hover{
    background-color: #8cdae4;
    transition: background-color 0.5s linear;
}

/*FEATURES SECTION */

.features{
    display: flex;
    justify-content: center;
    color: #FFF;
    padding: 0 45px;
}

.features .container{
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 906px;
    flex-wrap: wrap;
}

.features .container div{
    margin: 20px 40px 80px;
    width: 370px;
}

@media (max-width: 890px){
    .features .container div{
        margin: 20px 0px 80px;
    }
}

.features h2{
    margin: 25px 0 10px;
}

.features p{
    line-height: 20px;
}

.features img{
    height: 78px;
}

/*STAYPROD SECTION*/

.stayProd{
    color: #FFF;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.stayProd h1{
    font-size: 32px;
    max-width: 374px;
    margin-bottom: 36px;
}

.stayProd .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stayProd .container div{
    padding: 0 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-width: 374px;
    margin: 40px 0;
}

.stayProd img{
    width: 100%;
}

.stayProd p{
    line-height: 20px;
    margin-bottom: 15px;
}

.stayProd a{
    color: #FFF;
    display: inline-flex;
    width: 150.781px;
    border-bottom: 1px solid #FFF;
    padding-bottom: 5px;
}

.stayProd a:hover{
    border-bottom: 1px solid #9fe5e5;
    color: #9fe5e5;
}

.stayProd .arrow{
    height: 16px;
    width: 16px;
    margin-left: 6px;
}

/*need to fix svg*/

/*CLIENTS SECTION*/

.clients{
    display: flex;
    justify-content: center;
    padding: 0 35px 250px;
}

.clients .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.comments{
    width: 374px;
    min-width: 374px;
    background-color: #21293c;
    margin: 35px 10px 0;
    padding: 40px 20px 25px;
    border-radius: 5px;
    position: relative;
    font-size: 12px;
}

@media (max-width: 500px){
    .clients{
        padding: 0 45px 250px;
    }

    .clients container{
        width: 374px;
    }

    .comments{
        margin: 35px 0 0;
        width: auto;
    }
}

.comments .quotes{
    position: absolute;
    top: -35px;
    left: -10px;
    z-index: -1;
}

.comments p{
    line-height: 20px;
    margin-bottom: 20px;
}

.clientData{
    display: flex;
    align-items: center;
}

.clientData div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clientData span{
    font-size: 10px;
}

.profilePic{
    border-radius: 50%;
    height: 40px;
    margin-right: 10px;
}

.clientData h4{
    margin-bottom: 5px;
}


/*footer */

footer{
    background-color: #0c1524;
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 45px;
}

.getAcess{
    width: 100%;
    padding: 60px 80px 10px;
    background-color: #1c2230;
    max-width: 828px;
    margin-top: -140px;
    min-width: 374px;
}

.getAcess p{
    margin: 30px 0;
}

.getAcess form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.getAcess button{
    padding: 15px 35px;
    font-weight: 700;
    color: #FFF;
    background-color: #50c3d5;
    transition: background-color 0.5s linear;
    cursor: pointer;
}

.getAcess button:hover{
    background-color: #8cdae4;
    transition: background-color 0.5s linear;
}

#email{
    flex: 1;
    padding: 15px 35px;
}

#email, .getAcess button{
    margin: 0 10px 20px;
    border-radius: 40px;
    border: 0;
}

@media (max-width: 726px){
    #email{
        flex: 0;
    }
    #email, .getAcess button{
        min-width: 214px;
        padding: 15px 20px;
    }
}

@media (min-width: 718px) and (max-width: 726px){
    .getAcess{
        margin-top: -141px;
    }
}

@media (max-width: 717px){
    .getAcess{
        margin-top: -198px;
    }
}

.getAcess .test{
    text-align: left;
    margin-left: 10px;
    padding-left: 35px;
    margin-top: -10px;
    color: red;
    font-weight: 700;
    text-transform: uppercase;
}

